@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.article {
  p {
    margin-bottom: 20px;
  }
}