@import "tailwindcss";


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

.article {
  p {
    margin-bottom: 20px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}